<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Steam Stat Analyzer</title>
</head>

<body>
    <h1>Steam Stat Analyzer</h1>

    <p>
        <form method="get">
            <label for="steam_input">Steam ID:</label>
            <input type="text" id="steam_input" name="steam_input">
            <button type="submit">Analyze</button>
        </form>
        
        {% if steam_id %}
            <p>You entered Steam ID: {{ steam_id }}</p>
        {% endif %}

    </p>

</body>
</html>